html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFEE3;
}

.folder {
  width: 6%;
  display:block;
  margin-left: 2%;
}
.folder:hover {
  background-color: #FFCDCD;
  border-color: white;
}
.spotify {
  width: 5.6%;
  display: block;
  margin-left: 2%;
  margin-top: 1%;
  border-color: white;
}
.spotify:hover {
  background-color: #FFCDCD;
}
.icons {
  width: 100%;
  margin-top: 1%;
}
.cat {
  width: 5%;
  margin-left: 60%;
  margin-top: 20%;
  position: absolute;
}
.meow {
  width:5%;
  margin-left: 64%;
  margin-top: 18%;
  position: absolute;
}
.song {
  width: 20%;
  position: absolute;
  margin-left: 10%;
  margin-top: -25.5%;
}
.play {
  position:absolute;
  width: 3%;
  z-index: 10;
  margin-top: -17%;
  margin-left: 20.9%;
}
.nextSong {
  position:absolute;
  width: 1.3%;
  z-index: 10;
  margin-top: -16%;
  margin-left: 25.3%;
}
.previousSong {
  position:absolute;
  width:1.3%;
  z-index: 10;
  margin-top: -16%;
  margin-left: 18.1%;
}
.notes {
  width: 6%;
  display:block;
  margin-left: 2%;
  margin-top: 1%;
}
.notes:hover{
  background-color: #FFCDCD;
  border-color: white;
}
.page {
  width: 25%;
  position: absolute;
  margin-top: -15%;
  margin-left: 15%;
}
.photos {
  width: 5.6%;
  display: block;
  margin-left: 2%;
  margin-top: 1%;
  border-color: white;
}
.photos:hover {
  background-color: #FFCDCD;
}
.gallery {
  position: absolute;
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
  width: 40%;
  margin-left: 30%;
  z-index: 10;
  margin-top: -25%;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
  -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.item img{max-width:100%;}
@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
